
body {
    background-color: #BBDB82 !important;
}
.link {
  stroke: rgb(94, 165, 75);
  stroke-width: 1px;
  stroke-opacity: .3;
}
.nodetrue {
  stroke: rgb(94, 165, 75);
  fill: rgb(94, 165, 75);
  stroke-width: 1.5px;
}
.nodefalse {
  stroke: rgb(77, 126, 64);
  fill: rgb(77, 126, 64);
  stroke-width: 1.5px;
}
.nodeproblem {
  stroke: rgb(110, 109, 77);
  fill: rgb(110, 109, 77);
  stroke-width: 1.5px;
}
.node {
  fill: #FFF;
  stroke-width: 1.5px;
}
line.edge {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}
line.edge.onpath {
  fill: none;
  stroke-width: 2px;
  stroke: green;
}
circle {
  fill: #333333;
  stroke: orange;
  stroke-width: 1.5px;
}
circle.pstart {
  fill: #2EFE2E;
  stroke: green;
  stroke-width: 4px;
}
circle.pend {
  fill: #2EFE2E;
  stroke: green;
  stroke-width: 4px;
}
circle.onpath {
  fill: #2EFE2E;
  stroke: green;
  stroke-width: 3px;
}


text {
  font: 11px sans-serif;
  pointer-events: none;
  stroke: white;
}
text.edge {
  fill: gray;
  font: 9px sans-serif;
  pointer-events: none;
}

