{{define "title"}}A templated page{{end}}

{{define "headscript"}}

{{end}}
{{define "body"}}
  <script>

var width = 960,
    height = 500;

var nodes = [],
    links = [];

var serversocket = conn = new WebSocket("ws://localhost:3000/ws");

serversocket.onopen = function() {
  console.log("we are CONNECTED");
}
serversocket.onclose = function() {
  console.log("we are DISCONNECTED");
}

function findNode(n){
  console.log("findNode " + n + " in " + nodes);
  for(var i = 0; i < nodes.length; i++) {
    if (nodes[i].id === n.id) {
      return nodes[i];
    }
  }
  return null;
}
function insertNode(n){
  for(var i = 0; i < nodes.length; i++) {
    if (nodes[i].id === n.id) {
      console.log(n + " was already in list");
      return;
    }
  }
  nodes.push(n);
}

function insertLink(link){
  var start = findNode(link.source);
  var end = findNode(link.target);
  console.log("insertLink, start: " + start.id + ", end:" + end.id);
  if (start != null && end != null){
    for(var i = 0; i < links.length; i++) {
      if (links[i].source.id === start.id &&
          links[i].target.id === end.id)
      {
        console.log(link + " was already in links");
        return;
      }
    }
    links.push({source: start, target: end});
  }
}
// Write message on receive
serversocket.onmessage = function(e) {
  console.log("Received: " + e.data);
  var obj = JSON.parse(e.data);
  console.log(obj);
  insertNode({id: obj.Origin});
  for (var i = 0; i < obj.Outgoing.length; i++) {
    var dest = obj.Outgoing[i];
    var link = {source: {id: obj.Origin}, target: {id: dest}};
    insertLink(link);
  }
  start();
};

var force = d3.layout.force()
    .nodes(nodes)
    .links(links)
    .charge(-400)
    .linkDistance(120)
    .size([width, height])
    .on("tick", tick);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var node = svg.selectAll(".node"),
    link = svg.selectAll(".link");

// 1. Add three nodes and three links.
setTimeout(function() {
  var a = {id: "a"}, b = {id: "b"}, c = {id: "c"};
  nodes.push(a, b, c);
  links.push({source: a, target: b}, {source: a, target: c}, {source: b, target: c});
  start();
}, 0);

function start() {
  link = link.data(force.links(), function(d) { return d.source.id + "-" + d.target.id; });
  link.enter().insert("line", ".node").attr("class", "link");
  link.exit().remove();

  node = node.data(force.nodes(), function(d) { return d.id;});
  node.enter().append("circle")
    .attr("class", function(d) { return "node " + d.id; })
    .attr("r", 8)
    .call(force.drag);
  node.exit().remove();

  force.start();
}

function tick() {
  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; })

  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
}

function senddata() {
  var data = document.getElementById('sendtext').value;
  serversocket.send(data);
  console.log("Sent: " + data);
}

  </script>
  <input id="sendtext" type="text" />
  <input type="button" id="sendBtn" value="send" onclick="senddata()"></input>
{{end}}

